.Reward-card {
    width: 200px;
    margin: 10px;
    padding: 2px;
    background-color: #282c34;
    border: solid 1px fuchsia;
    border-radius: 2px;
    box-shadow: 5px 10px 5px fuchsia;
    flex-direction: row;
}

.Reward-body {
    display: inline;
    flex-direction: row;
    align-items: center;
}

.Reward-icon {
    height: 10vmin;
}