.Merger-card {
    width: 400px;
    margin: 10px;
    padding: 2px;
    background-color: #282c34;
    border: solid 1px rgb(102, 225, 246);
    border-radius: 2px;
    box-shadow: 5px 10px 5px rgb(102, 225, 246);
    flex-direction: row;
}

.Merger-title {
    text-align: center;
}

.Merger-body {
    display: inline;
    flex-direction: row;
    align-items: center;
}

.Merger-icon {
    height: 10vmin;
}

.Merger-quantity {
    width: 80%;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 1.1em;
    text-align: end;
    background-color: #282c34;
    border: solid 1px rgb(102, 225, 246);
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgb(102, 225, 246);
}

.Merger-selector {
    width: 40%;
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 1em;
    text-align: end;
    background-color: #282c34;
    border: solid 1px rgb(102, 225, 246);
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgb(102, 225, 246);
}

.Merger-button{
    background: transparent;
    border: solid rgb(102, 225, 246);
    color: white;
    padding: 10px;
    margin: 5px;
}